:root {
    --main-color: #050440;
    --sec-color: #508484;
    --third-color: #ece5e5;
}


.title_txt {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.nav_link {
    color: var(--main-color);
    text-decoration: none;
}

.nav_bg {
    background-color: #ece5e5;
    position: fixed;
    width: 100%;
    height: 65px;
}

body {
    background-color: var(--third-color);

    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.img-intro {
    object-fit: fill;
}

.main_c {
    color: var(--main-color);
}

.sec_c {
    color: var(--sec-color);
}

.txt-j {
    text-align: justify;
}

.anm_link {}

.anm_link:hover {
    transform: scale(1.1);
}